version: "3.8"

services:
  web:
    build: .
    container_name: food_docker-web
    volumes:
      - .:/var/www/html
    expose:
      - "9000"
    depends_on:
      - db
    networks:
      - app-network

  nginx:
    image: nginx:1.25
    container_name: food_docker-nginx
    ports:
      - "8082:80"
    volumes:
      - .:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web
    networks:
      - app-network

  db:
    image: mysql:8.0
    container_name: food_docker-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: food_recipe
    ports:
      - "3308:3306"
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    co
